<footer class="bg-light text-center" style="font-weight:bolder;position:fixed;left:0px;bottom:0px;width:100%;">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      GES alunos - © 2021 Copyright
    </div>
  </footer><footer class="bg-light text-center" style="font-weight:bolder;position:fixed;left:0px;bottom:0px;width:100%;">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      GES alunos - © 2021 Copyright
    </div>
  </footer>