<nav class="navbar navbar-expand-lg navbar navbar-light bg-warning" id="navbar">
  <div class="container-fluid">
    <div style="margin-left: 150px">
      <a href="/">
        <img
          src="http://localhost:3000/files/assets/logo.png"
          style="width: 125px"
          alt=""
        />
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-end fw-bolder"
      style="margin-right: 150px"
      id="navbarNav"
    >
      <ul class="navbar-nav" id="navitems">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/consultaralunos">Consultar alunos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/inseriralunos">Inserir alunos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/login">login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
